body{
    background-color: #031231;
}
/*head*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #031231;
  }
  
  .logo {
    cursor: pointer;
	
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 5;
    color: #edf0f1;
    text-decoration: blink;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
	font-size: 25px;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(3, 18, 49, 255);
  }
  
  .menu {
    display: none;
  }

  .foter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: black;
	color: rgb(250, 172, 4);
	margin-top: 8rem;
	text-align: center;
	bottom: 0;
}
/*contenido*/
#izquierda {
float:left;
width: 60%;
height: 50%;
margin-top: 30px;
}
#tabla{
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border-spacing: 30px;
    font-family: Georgia, serif;
    
}
#tabla2{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border-spacing: 30px;
    font-family: Georgia, serif;
    
}
.input{
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
    border-color: orange;
    font-family: Georgia, serif;
}
.boton{
  background: orange;
  color: white;
  border-radius: 2em;
  border:none;
  outline: 2px orange;
  width: 180px;
  height: 50px;
  font-family: Georgia, serif;
}

#derecha {
float:right;
width: 40%;
height: 50%;
margin-top: 30px;
}
/*carrusel*/
.slide {
position: relative;
box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
margin-top: 26px;
}
.slide-inner {
position: relative;
overflow: hidden;
margin-left: 375px;
width: 70%;
height: 60%;
}
.slide-open:checked + .slide-item {
position: static;
opacity: 100;
}
.slide-item {
position: absolute;
opacity: 0;
-webkit-transition: opacity 0.6s ease-out;
transition: opacity 0.6s ease-out;
}
.slide-item img {
display: block;
height: auto;
max-width: 100%;
}
.slide-control {
                margin-right: 235px;
                background: rgba(0, 0, 0, 0.28);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: none;
                font-size: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                cursor: pointer;
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: center;
                width: 40px;
                z-index: 10;
            }
            .slide-control.prev {
                left: 2%;
            }
            .slide-control.next {
                right: 2%;
            }
            .slide-control:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1,
            #slide-2:checked ~ .control-2,
            #slide-3:checked ~ .control-3 {
                display: block;
            }
            .slide-indicador {
                list-style: none;
                margin: 0;
                margin-right: 200px;
                padding: 0;
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
            }
            .slide-indicador li {
                display: inline-block;
                margin: 0 5px;
            }
            .slide-circulo {
               
                color: #828282;
                cursor: pointer;
                display: block;
                font-size: 35px;
            }
            .slide-circulo:hover {
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1 ~ .slide-indicador 
                 li:nth-child(1) .slide-circulo,
            #slide-2:checked ~ .control-2 ~ .slide-indicador 
                  li:nth-child(2) .slide-circulo,
            #slide-3:checked ~ .control-3 ~ .slide-indicador 
                  li:nth-child(3) .slide-circulo {
                color: #428bca;
            }
            #titulo {
                width: 100%;
                position: absolute;
                padding: 0px;
margin: 0px auto;
text-align: center;
font-size: 27px;
color: rgba(255, 255, 255, 1);
font-family: 'Open Sans', sans-serif;
z-index: 9999;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
             -1px 0px 2px rgba(255, 255, 255, 0);
}